.form-wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.register-image {
    width: 50%;
}

form,
.content {
    width: 30%;
    height: 50%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #4c4c4c;
    border: none;
    border-radius: 5px;
}

.error {
    color: #a94442;
}

.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

.register-image img {
    width: 80%;
    height: 80%;
    margin-top: 5%;
    margin-left: 15%;
    display: block;
}

@media screen and (max-width: 800px) {
    .form-wrapper {
        flex-direction: column;
    }
    .register-image img {
        width: 100%;
        height: 50%;
        margin-left: 50%;
        display: none;
    }
    form {
        width: 90%;
    }
}