.admin-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.admin-menu a {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 10.5px 11px;
    background-color: #5d5858;
    padding-left: 20px;
    border: 1px solid black;
    text-align: center;
}

.admin-menu a:visited {
    color: white;
}

.admin-menu a:hover,
.admin-menu ul li .current {
    color: white;
    background-color: #383434;
}

.admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

input[type="text"] {
    width: 100%;
}

input[type="file"] {
    margin: 0px auto;
    padding: 0px;
    width: 100%;
}

tr td {
    text-align: center;
}

.shop-pagination {
    width: 50%;
    height: 20%;
    padding-left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.shop-pagination a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.shop-pagination a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #555;
    color: black;
}

.next {
    background-color: #cbc9c9;
    color: white;
}

.round {
    border-radius: 50%;
}