footer {
  position: relative;
  padding: 1rem;
  background-color: #383434;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* social pages */

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-content {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.share-content i:hover {
  opacity: 0.7;
}

.share-logo i {
  margin-left: 20px;
  font-size: 30px;
}

.share-content p{
  font-size: 25px;
  color: white;
  margin: 0;
  display: block;
} 


@media screen and (max-width: 400px) {
  .share-content p{
    display: none;
  }

}

