.cart-content {
    display: flex;
    flex-direction: column;
}

.no-records {
    text-align: center;
    font-size: 30px;
    height: 175px;
    margin-top: 3%;
}

.form-container {
    width: 45%;
    height: 25%;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 0px auto;
    padding: 10px;
    border-radius: 8px/7px;
    border-color: #383434;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
}

.form-group p {
    text-align: left;
    font-family: cursive;
    font-size: 15px;
    margin: 5px;
}

.form-group {
    margin: 10px 0px 10px 0px;
}

.form-group input[type="text"] {
    font-family: cursive;
    width: 93%;
    height: 30%;
    font-size: 16px;
    text-align: left;
    margin: 5px;
    padding: 10px 10px;
    color: #4c4c4c;
    border-radius: 5px;
    border: 1px solid #4c4c4c;
}

.form-group input[type="file"] {
    font-family: cursive;
    width: 93%;
    height: 30%;
    font-size: 16px;
    text-align: left;
    margin: 5px;
    padding: 5px 10px;
    color: #4c4c4c;
    border: none;
}

.form-group input[type="password"] {
    font-family: cursive;
    width: 93%;
    font-size: 16px;
    height: 30%;
    text-align: left;
    margin: 5px;
    padding: 10px 10px;
    color: #4c4c4c;
    border-radius: 5px;
    border: 1px solid #4c4c4c;
}

.button {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #4c4c4c;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 55%;
    }
    .form-group input[type="text"] {
        width: 83%;
    }
    .form-group input[type="password"] {
        width: 83%;
    }
}