@import url("./footer.css");
body {
    margin: 10px;
    background-color: #f0f5f5;
    width: 99%;
    height: 100%;
}

.testbox {
    margin: 20px auto;
    width: 100%;
    height: 20%;
    border-radius: 5%;
    background-color: #f0f5f5;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.31);
    border: solid 1px #383434;
}

#title {
    font-size: 32px;
    font-weight: 300;
    color: #383434;
    text-align: center;
    margin-bottom: 10px;
}

#err {
    text-align: center;
    color: red;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    position: relative;
    text-align: center;
    height: 150px;
    width: 100%;
}

h1 {
    position: absolute;
    font-family: cursive;
    font-size: 50px;
    color: black;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar * {
    padding: 2px;
}

.navbar a {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background-color: #383434;
    height: 50px;
    font-family: cursive;
}

.dropdown {
    float: left;
    overflow: hidden;
    height: 100%;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    height: 100%;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #c44c46;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content a {
    font-size: 14px;
    float: none;
    color: black;
    margin: 0;
    padding: 3px 26px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.message {
    font-family: cursive;
    font-size: 20px;
}

.column_submenu {
    float: left;
    width: 45%;
}

.row_submenu:after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

.contact {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}

.photo {
    display: flex;
    flex-wrap: wrap;
}

.photo1 {
    flex: 33%;
    max-width: 50%;
}

.photo img {
    width: 50%;
    border-radius: 50%;
    height: 200px;
}

.index-h2 {
    text-align: center;
    font-family: cursive;
}

.share-logo {
    color: white;
}

@media screen and (max-width: 992px) {
    h1 {
        margin-top: 5%;
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        margin-top: 5%;
        font-size: 20px;
    }
    .dropdown .dropbtn,
    .navbar a {
        font-size: 15px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 90%;
    }
}